# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl
# documents
*.doc

.terraform/
*.tfstate
*.tfstate.*

.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl